
body {
    background-color: rgb(240, 215, 250);

}

hr {
    border-style: none;
    border-top: dotted;
    border-color:rgb(167, 133, 231) ;
    border-width: 5px;
    width: 50%;
}

.shadowbox{
 
    width:50px;
    height:50px;
    padding:100px;
    text-align: center;
    background-color: aqua;
}

.middle{
background-color: rgb(207, 236, 203);
width: 60px;
height: 50px;
padding:100px;
margin-left: 250px;
}

.bottom{
background-color: rgb(224, 163, 71);
border-width: 10px;
width: 50px;
height: 50px;
padding:100px;
margin-left: 500px;
}