
body {
    background-color: rgb(240, 215, 250);
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1{
    font-family: 'Sacramento';
}

h2{
    font-family: 'Montserrat';
}

hr {
    border-style: none;
    border-top: dotted;
    border-color:rgb(167, 133, 231) ;
    border-width: 5px;
    width: 50%;
}

.shadowbox{
 
    width:50px;
    height:50px;
    padding:100px;
    text-align: center;
    background-color: aqua;
}

.middle{
background-color: rgb(207, 236, 203);
width: 50px;
height: 50px;
padding:100px;
margin-left: 250px;
}

.bottom{
background-color: rgb(224, 163, 71);
border-width: 10px;
width: 50px;
height: 50px;
padding:100px;
margin-left: 500px;
}

.top{
    position: relative;
    padding-top:100px
}

h1{
    margin-top:0;
}

.bottom-cloud{
    position: absolute;
     margin-left:-100px;
}

.top-cloud{
    position: absolute ;
    margin-left: 300px;
    top: 40px;

}
fd
