
body{
    font-family: 'Montserrat', sans-serif;
}


/* top page */
#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{ 
    /* bootstrap container of the title */
    padding: 3% 15%;
}

h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 2 ;
    width: 70%;
}

/* navbar */

.navbar{
    padding-bottom: 4.5rem;
    
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family:'Montserrat', sans-serif; 
    font-weight: lighter;
    font-size: 1.2rem;
}

.navbar-brand{
    font-family: 'Ubuntu', monospace;
    font-size: 2.5rem;
    font-weight: bold;
}

/* download buttons */

.download-button{
    margin: 5% 3% 5% 0;

}

.iphone{
    transform: rotate(25deg);
    width: 60%;
}

/* Features  */
.features-box{
    padding: 3% 15%;
}

h3{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5rem;
}

.features{
    text-align: center;
    margin-top: 70px;
}

.fa-circle-check{
    width: 20%;
    color: #ef8172;
}
.fa-bullseye{
    width: 30%;
    color: #ef8172;
}
.fa-heart {
    width: 38%;
    color: #ef8172;
}

.pfeatures{
    /* fix text-align by margin auto */
    text-align: center;
    width: 60%;
    margin: auto;
    color: #8f8f8f;
}

i:hover{
    color: #ff4c68;
}
