
body{
    font-family: 'Montserrat', 'sans-serif';
}


/* top page */
#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{ 
    /* bootstrap container of the title */
    padding: 3% 15%;
}

h1{
    font-family:'Montserrat', 'sans-serif';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 2 ;
    width: 70%;
}

/* navbar */

.navbar{
    padding-bottom: 4.5rem;
    
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family:'Montserrat', 'sans-serif'; 
    font-weight: lighter;
    font-size: 1.2rem;
}

.navbar-brand{
    font-family: 'Ubuntu', 'monospace';
    font-size: 2.5rem;
    font-weight: bold;
}

/* download buttons */

.download-button{
    margin: 5% 3% 5% 0;

}

.iphone{
    transform: rotate(25deg);
    width: 60%;
}

/* Features  */
#features{
    padding: 5% 14%;
}

h3{
    font-family:'Montserrat', 'sans-serif';
    font-weight:900;
    margin-top: 20px;
    font-size: 1.5rem;
}

.features-box{
    text-align: center;
    margin-top: 70px;
}

.icon{
    color: #ef8172;
}


p{
    /* fix text-align by margin auto */
    color: #8f8f8f;
    padding: 0 79px 0;
    font-weight: bold;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonials */

  #testimonials{
    padding: 5% 14%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
  }

h2{
    font-family:'Montserrat', 'sans-serif';
    font-weight:bold;
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}


/* Press */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press_ing{
    width: 15%;
    margin: 20px 20px 50px;
}

